<%- include('../../partials/header.ejs') %>

    <%- include('../../partials/navbar.ejs') %>
    <div class="container w-50">
        <hr>
        <div class="card mt-4">
            <div class="card-header">
                Criação de usuários
            </div> <!--card-header-->

            <div class="card-body">
                <form action = "/users/create" method = "POST">
                    <label>Nome</label>
                    <input class = "form-control" type="text" name="name" placeholder = "Digite seu nome" />
                    <br>
                    <label>Usuário</label>
                    <input class = "form-control" type="text" name="username" placeholder = "Digite o seu usuario para entrar no site" />
                    <br>
                    <label>Email</label>
                    <input class = "form-control" type="email" name="email" placeholder = "email@exemplo.com" />
                    <br>
                    <label>Senha</label>
                    <input class = "form-control" type="password" name="password" placeholder = "Digite sua senha" />
                    <br>
                    <button type = "submit" class = "btn btn-success">Criar</button>
                </form>
            </div> <!--card-body-->
        </div> <!--card-->
    </div>



<%- include('../../partials/footer.ejs') %>